[Unit]
Description=proxy blocked openai services
Documentation=https://example.com
After=network.target

[Service]
Type=simple
User=achmed
ExecStart=/usr/bin/node /home/achmed/openai-reverse-proxy/server.js 
Restart=on-failure

[Install]
WantedBy=multi-user.target